body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.code {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.themes-container {
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    /* margin: 1% auto; */
}

.navtabs {
    font-size: 21px;
    /* color: #f3ff8d !important; */
}

.history-image {
    display: block;
    max-width: 280px;
    max-height: 420px;
    width: auto;
    height: auto;
}
